*{
    padding: 0;
    margin: 0;
    font-family:'tajawal',sans-serif;
    box-sizing: border-box;
}
.contaner1{
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    height: auto;

}
.aside,.contaner1, .main{
    margin-bottom: 0;
    padding-bottom: 0;
}
.aside{
flex:0 0 60%;
background-color:transparent;
height: fit-content;
/* align-self: flex-start; */


}
#wowslider-contaner1 {
/* 
    border: none;
    box-shadow: none;
    background-color: transparent; */
    margin-bottom: 0;
    padding-bottom: 0;
}
#wowslider-contaner1 .ws_title{
    /* display:none; */
    bottom: 0;
}
.main{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   /* font-weight: bold; */
   gap: 25px;
   background: radial-gradient(circle at center,#0a192f 0%,#020c1b 100%);
/* background-color: #0a192f; */
flex:0 0 40%;
}
.main a{
    text-decoration: none;
    color: #e6f1ff;
padding: 15px;
border: solid 1px rgba(100, 255,218, 0.2);
font-weight: 500;
transition: all 0.3s ;
backdrop-filter: blur(5px);
border-radius: 12px;
background: rgba(255, 255,255, 0.03);
   
       
    }
    .main a :hover{
        background: rgba(100, 255,218, 0.1);
        color: #64ffda;
        border-color: #64ffda;
        box-shadow: 0 0 20px rgba(100, 255,218, 0.15);
        transform: translateY(-5px);
    }
    .main h1{
        color: white;
     transform: translateY(-30px);
    }
    header{
     display: flex;
     justify-content: space-between ;
     align-items: center;
     height:70px ;
     background: rgba(10,25,47,0.95);
     position:sticky;
     border-bottom:1px solid rgba(100, 255,218, 0.1);
     backdrop-filter: blur(10px);
     top: 0;
     z-index: 1000;
     padding: 15px 5%;
     color: #ccd6f6;



    }
    .links{
        display: flex;
        gap: 15px;
    }
    .links a{
       color: #ccd6f6;
       font-weight: 900;
       text-decoration: none;
    }
    .links a:hover{
        border-color: #64ffda;
        color: #64ffda;
        transform: translateY(-5px);
          background: rgba(100, 255,218, 0.1);
           box-shadow: 0 0 20px rgba(100, 255,218, 0.15);
           transition: all 0.3s;

    }
    .footer{
        background-color: #020c1b;
        color: #ccd6f6;
        padding: 35px 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
       /* padding-bottom:100px; */

        

    }
    body{
        background-color: #020c1b;
    }
    @media(max-width:768px){
        .contaner1{
            flex-direction: column;
            height: auto;
        }
        .aside,.main{
            /* flex: 0 0 100%; */
            width: 100%;
        }
        .main{
            padding: 10px;
            text-align: center;
        }
        .aside{
            margin-bottom: 20px;
        }
    }
    
 
